* {
    height: 100%;
    width: 100%;
    margin: 0;
}

body>*>*,
main,
.bigAside {
    display: table;
}

button,
main,
aside,
div {

    box-sizing: border-box;
    border: solid 2px white;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 15% 70% 15%;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

button {
    display: flex;
}

header {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-column: span 5;
}

h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

main {
    grid-column: span 4;
}

div {
    grid-column: span 3;
}

footer {
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.darkPurple {
    color: white;
    background: #400080;
}

.lightPurple {
    color: white;
    background: #ce49eb;
}

/* media query for tablet portrait layout (up to 959px) */
@media only screen and (max-width: 959px) {
    body {
        grid-template-rows: 10% 25% 25% 20% 20%;
        grid-template-columns: repeat(10, 1fr);
    }

    header {
        grid-column: span 10;
    }

    main {
        grid-row: 2/3;
        grid-column: span 10;
    }


    aside {
        grid-column: span 1;
        grid-row: 1/2;
    }

    .bigAside {
        grid-column: span 10;
        grid-row: 3/4;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column: span 10;
        grid-row: span 2;
    }
}